/* Change the color of the text selection highlight */
/* #6D28D9 purple #126A32  */
::selection {
    background-color: #126A32; /* Background color of the selection */
    color: white; /* Text color of the selection */
  }
  
  /* For Firefox */
  ::-moz-selection {
    background-color: #126A32; /* Background color of the selection */
    color: white; /* Text color of the selection */
  }